{% extends "layout.html" %}

{% block title %}
<h1> Welcome to My Stats Experiment!! </h1>
{% endblock %}

{% block main %}
<br>
<br>
<span style="font-size: 150%">The goal of this experiment is to see if concordia students are better at retaining information and learning when
they are taught using <b>visual</b> or <b>audio</b> methods. The task is simple, and will take roughly 10 minutes. Click the button below
to start and get a treat PLUS your place in a raffle for a 50 yuan Starbucks gift card!</span>
{% endblock %}

{% block subtitle %}
<br>
<br>
<br>
<h1> What do I need?</h1>
{% endblock %}

{% block main2 %}
<br>
<br>
<span style="font-size: 125%">All you need is this computer and some Wi-Fi! Please do not jot down any notes, and abide to the rules
of the experiment. As the task will be on memorizing, please DO NOT copy down anything. YOU MAY NOT ENTER TWICE!</span>
<br>
<br>
<h4>As ___ people have completed the experiment, your chance of getting the gift card is currently: _____!</h4>
{% endblock %}
